body{
    background-color: cadetblue;
    background-image: url("/assets/img/abstract-antique-backdrop-background-163999.jpg");
}
h1, h3{
    color:rgb(167, 13, 13);
    
}
.container-head{
    text-align: center;
    max-width: 350px;
    margin: auto;
}
#burgerpic{
    height: 75%;
    width: 75%;
}
.create-form{
    text-align: center;
}
textarea{
    resize: none;
}
.eatNoeat, .delete, #btnSubmit{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.toEat{
    background-color: transparent;
    border: transparent;
    font-weight: bolder;
}
.container-burgers{
    max-width: 700px;
    margin: auto;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
.left-div{
    display:flex;
    flex-direction:column;
}
.right-div{
    display:flex;
    flex-direction:column;
}
ul{
    list-style-type: none;
}
li {
    padding: 5px;
    margin: 5px;
    background: #f3cd9c;
  }